<div ng-controller="userListCtrl">
    <div class="container p-3">
        <div class="row">
            <div class="col">
                <h1>User List</h1>
                <a ng-show="userInfo.role == 'Admin'" class="btn btn-primary btn-sm float-end" ng-click="changeMenu('user-add')">Add New +</a>
                <br>
                <hr/>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">FirstName</th>
                        <th scope="col">LastName</th>
                        <th scope="col">UserName</th>
                        <th scope="col">Email</th>
                        <th scope="col">Enable</th>
                        <th scope="col">Role</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in dataList">
                        <th scope="row">{{$index + 1}}</th>
                        <td>{{data.firstName}}</td>
                        <td>{{data.lastName}}</td>
                        <td>{{data.username}}</td>
                        <td>{{data.email}}</td>
                        <td>
                            <i class="fa fa-check" ng-show="data.enable"></i>
                            <i class="fa fa-times" ng-show="!data.enable"></i>
                        </td>
                        <td>{{data.role}}</td>
                        <td>
                            <a ng-click="editItem(data.id)" class="btnEditColor"><i class="fa fa-edit"></i></a>
                            &nbsp;
                            <a ng-hide="userInfo.id == data.id" ng-click="DeleteItem(data.id)" class="btnDeleteColor"><i class="fa fa-trash-can"></i></a>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
            <div>
                <br>
                <nav>
                    <ul class="pagination pagination-sm">
                        <li ng-repeat="i in range(pageCount) track by $index" class="page-item" aria-current="page">
                            <span class="page-link" ng-click="changPage($index)">
                                {{$index + 1 }}
                            </span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>